<br>
<h5>1 ONLY Trail</h5>
<br>
<table class="center, striped">
<div class="container">
<ul> 
<li>Name: <%= @trail.name %></li>
<li>Difficulty: <%= @trail.difficulty %></li>
<li>Length: <%= @trail.length %></li>
<%= link_to "New Review", new_trail_review_url(@trail) %>
</ul>
</table>
</div>

