<br>
<h1>List of all Trails</h1>
<br>
<div class="container">
<ul> 
<li>Name: <%= @trail.name %></li>
<li>Difficulty: <%= @trail.difficulty %></li>
<li>Length: <%= @trail.length %></li>
<%= link_to "New Review", new_trail_review_url(@trail) %>
</ul>
</div>
